#navbar {
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: .5rem;
    overflow: hidden;
    height: 80px;
}

#services .items{
    flex-direction: column;
}
#services .items .item{
    width: 100%;
    /* border-bottom:1px solid black; */
}
.contents .content{
    flex-direction: column;
}